
* {
    box-sizing: border-box;
    }

 body {
    background: url(IMG_0058.PNG);
    background-repeat: no-repeat;
    background-size: 65%;
    }

    .column {
    float: left;
    width: 30%;
    padding: 40px;
    margin-right:10px;
    margin-left: 10px;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }