* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Title Font";
    src: url(Royalacid_o.ttf) format("truetype");
    }

.royal_acid{
    font-family: "Title Font", Verdana, Tahoma;
    color:rgb(0, 0, 0);
    background-color: #ffffff00;
    }

    header{
        width: 90%;
        height: 74px;
        background-color: #9BC53D;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 80px;
        box-shadow: 0 5px 15px -5px #00000070;
        position: fixed;
        top: 0;
        left: 0;
        }
        
        nav.sticky{
        position: fixed;
        top: 0;
        left: 0;
        }
        .nav-bar ul{
        display: flex;
        color:#f1f1f100
        }
        .nav-bar ul li a{
        display: block;
        COLOR: #000000;
        font-size: 15px;
        padding: 10px 25px;
        border-radius: 50px;
        transition: 0.2s;
        margin: 0 5px;
        }
        .nav-bar ul li a:hover{
        color:#2D3142;
        background:#F7F4F3;
        }
        @media only screen and (max-width: 1320px){
        header{
        padding: 0 50px;
        
        }
        }
        @media only screen and (max-width: 1100px){
        header{
        padding: 0 30px;
        
        }
    }


body {
    background-image: url("images/veg.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    background-color: #F7F4F3;
    font-size: 1.1em;
    font-family: 'Poppins' , sans-serif;
}

.heading {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    font-size: 1.8em;
}

#head {
    font-size: 1.75em;
}

#subheading {
    font-size: 0.65em;
    margin-top: 5px;
}

form {
    background-color: rgba(255, 255, 255, 0.5);  
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 30px; 
}

#questions {
    width: 90%;
}

.larger {
    width: 20px;
    height: 10px;
    bottom: 10px;
}

#keyword {
    margin-top: 20px;
    width: 90%;
}

.box {
    width: 98.5%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}

::placeholder{
    font-size: 1.1em;
    position: relative;
    left:10px;
    width: 50%;
    font-weight: 500;
}

.button {
    width: 50%;
    height: 3em;
    position: relative;
    top: 11px;
    background-color: #9BC53D;
    border: none;
    color: rgb(255, 255, 2555);
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
    font-size: 17px;
}

.button:hover {
    transform: scale(0.95) perspective(1px);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


@media screen and (max-width: 600px){
    form{
        width: 100%;
        margin: auto;
    }
}